#cal{
    text-align: center;
    color: brown;
}
#calculator{
    background-color: aqua;
    color: azure;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 12px; 
}
#calculator2{
    background-color: aqua;
    color: azure;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 12px; 
}
#calculator3{
    background-color: aqua;
    color: azure;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 12px; 
}
#calculator4{
    background-color: aqua;
    color: azure;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 12px; 
}
